fastapi
uvicorn[standard]
sqlalchemy
alembic
pandas
cryptography 
passlib[bcrypt]
bcrypt<4.0.0
python-jose[cryptography]
typer
rich

dynaconf
asyncmy
httpx
lxml
unidecode
pymysql
aiofiles
python-multipart